<!doctype html>
<HTML>
	<HEAD>
		<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<base href="file:///${basedirectory}" />

		<script src="./Template/common/js/jquery-1.12.4.min.js"></script>
		<link rel="stylesheet" href="./Template/common/css/reset.css">
		<link rel="stylesheet" href="./Template/common/css/examples.css">
		<link rel="stylesheet" href="./Template/common/js/darktooltip.css">
		<script src="./Template/common/js/jquery.darktooltip.js"></script>

		<script type="text/javascript">
			//ツールチップを設定する
			function set_tooltip(){
				$(function(){
					$('[id=def-html]').darkTooltip({
						opacity:1,
						theme: 'light',
						gravity: 'west',
						#if($font_size == 5)
						size:'xxlarge'
						#elseif($font_size == 4)
						size:'xlarge'
						#elseif($font_size == 3)
						size:'large'
						#elseif($font_size == 2)
						size:'medium'
						#else
						size:'small'
						#end
					});
				});
			}
		</script>

	</HEAD>
	<BODY style="background-color : #FFFFFF">
		<font face="ＭＳ ゴシック" color="#3F3F3F" size="$font_size">
			<H2>$title</H2>
			<div id="content">
				$content
			</div>
		</font>
	</BODY>
</HTML>
