<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_2chBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <_2chBrowser.Properties.Settings>
            <setting name="bbs_menu_url" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindowPlacement" serializeAs="Xml">
                <value />
            </setting>
        </_2chBrowser.Properties.Settings>
    </userSettings>
</configuration>
