<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_2chBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <_2chBrowser.Properties.Settings>
            <setting name="WindowPlacement" serializeAs="Xml">
                <value />
            </setting>
            <setting name="bbs_menu_url" serializeAs="String">
                <value>https://2ch.sc/bbsmenu.html</value>
            </setting>
            <setting name="font_size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NarrowingWord0" serializeAs="String">
                <value />
            </setting>
            <setting name="NarrowingWord1" serializeAs="String">
                <value />
            </setting>
            <setting name="NarrowingWord2" serializeAs="String">
                <value />
            </setting>
            <setting name="NarrowingWord3" serializeAs="String">
                <value />
            </setting>
            <setting name="NarrowingWord4" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_board_category" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_board_name" serializeAs="String">
                <value />
            </setting>
        </_2chBrowser.Properties.Settings>
    </userSettings>
</configuration>
